@import "tailwindcss";
@keyframes scrollLogos {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scrollLogos {
  animation: scrollLogos 60s linear infinite;
}
